#subtracao, #multiplicacao, #divisao {
	opacity: .3
}

#medalhas img {
	width: 100px;
	margin-left: 1em;
}

#medalhas #matematica {
	display: block;
    margin: auto auto;
    width: 150px;
}

#footer {
   position:fixed;
   left: 0;
   bottom:0px;
   height:50px;
   width:100%;
   z-index: 9999;
   background: rgba(1, 1, 1, .4);
}

#footer * {
	text-align: center;
	color: #fff;
	font-size: 2.5em;
}